/*!
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2018 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Typodermic Fonts Inc.
 * License URL: https://www.fontspring.com/licenses/typodermic/webfont
 *
 *
 */

@font-face {
    font-family: 'ethnocentric_rg';
    src: url('ethnocentric_rg-webfont.woff2') format('woff2'),
         url('ethnocentric_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    padding: 0px;
    margin: 0px;
    background-color: #cccccc;
}
canvas{
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
